/* ################################## CSS FOR REMINDY #################################### */
/* ####################################################################################### */

/* ---------------------------- Define colour scheme ------------------------- */
:root {
    --primary-color: #005FAC;
    --secondary-color: #EED630;
    --light-shades: #F2F4EF;
}

/* -------------------------------- Whole App  -------------------------------- */
body {
    color: var(--light-shades);
}

/* ####################################################################################### */
/* ----------------------------------------- Index --------------------------------------- */
/* ####################################################################################### */

/* ------------------- Login Page ------------------ */
.page-content.login-screen-content{
    background-color: var(--primary-color);
    padding-top: 2.5%;
}
/* Title: Remindy */
#login_page .login-screen-title{
    font-size: 44px;
    color: var(--secondary-color);
    font-weight: 700;
}
/* App Description*/
.page-content.login-screen-content p {
    font-size: 24px;
    text-align: center;
    color: white;
    margin: 12.5% 0;
}
/* to prevent that other paragraphs have the same setting */
.page-content.login-screen-content form p{
    font-size: initial;
    font-weight: 500;
    margin: initial;
}
/* Input */
/* Text in Login*/
#login_page .item-title.item-label, #login_page input::placeholder, #login_page input, #login_page .block-footer{
    color: white;
    font-weight: 500;
}
#login_page .item-label{
    font-size: 16px;
}
#login_page input::placeholder{
    font-size: 14px;
}
/* Bottom*/
#login_page .block-footer{
    width: 100%;
    padding: 0;
}
/*Buttons*/
a#signWithout{
    margin-top: 2.5%;
}
#login_page a.list-button.button-outline.link.login-screen-close {
    padding: 0px;
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 15%;
    width: 70%;
}




/* ----------------- Navigation bar ----------------- */
.navbar-inner {
    background-color: var(--primary-color);
}

/* -------------------- Cabinet --------------------- */
/* Rows in cabinet -> will be no longer needed with new cards-design */
.row {
    height: 30%;
    border: 1px solid #ddd;
    position: relative;
}

/* Overwrite block class: we need a height of 65% since we have the today's view on bottom */
.block {
    height: 65%;
    overflow: scroll;
}

/* images in cabinet: may be changed in cards-design*/
.cabinet_img {
    width: 50%;
    margin-left: 20%;
    position: absolute;
    bottom: 0px;
}

/* -------------------- Today's View --------------------- */
/* Whole footer */
.md .block + .block-footer {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: var(--primary-color);
    color: var(--light-shades);
    height: 22.5%;
    padding: 16px;
    overflow: scroll;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

/* Headline: "Today" */
.md h4 {
    font-size: 20px;
    position: fixed;
    background-color: var(--primary-color);
    z-index: 100;
    width: 100%;
}

/* intake time */
.md .list .item-after {
    color: var(--light-shades);
}

/* ------------------------ FAB ------------------------ */
#ownFab {
    bottom: 20%;
}

a.item-content.item-link {
    background: var(--secondary-color);
    color: var(--primary-color);
}

#med_name a.item-content.item-link {
    background: white;
    color: var(--primary-color);
}

#fabBackground {
    position: absolute;
    bottom: calc(20% - 11px);
    right: 4px;
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    z-index: 100;
}

/* ####################################################################################### */
/* ----------------------------------- Medication_enter ---------------------------------- */
/* ####################################################################################### */

/* -------------------- Manual Search ------------------- */
#SearchInput {
    font-size: 16px;
}

/* ------------------------ Scan ------------------------ */
/* will be replaced with new scan */
#scan {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 50%;
    background-color: #b8b8b8;
    margin: auto;
    z-index: 5;
}

/* ---------------------- Popover ----------------------- */

.sheet-modal.my-sheet.modal-in {
    height: 30%;
}

.toolbar-inner {
    background: var(--primary-color);
}

.sheet-modal-inner {
    margin: 5px 0;
}

/* image in popover */
.sheet-modal-inner img {
    width: 40%;
    height: auto;
    margin: 16px;
}

/* medication name in popover */
#popoverMedicationName {
    background-color: transparent;
    font-size: 16px;
    padding: 16px;
    width: 60%;
    right: 16px;
    font-weight: normal;
    text-align: right;
}

/* little arrow on bottom: link to next page */
#linkToSpecification {
    position: fixed;
    bottom: 16px;
    right: 16px;
}


/* ####################################################################################### */
/* ---------------------------------- Med_specification ---------------------------------- */
/* ####################################################################################### */
.page {
    height: 100%;
    overflow: scroll;
}

/* ------------------ Current medication: image and name  -------------------- */
/* whole box */
#med_info {
    height: 22.5%;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

/* image container */
#image-container {
    width: 60%;
    height: auto;
    float: left;
}

/* image within this container */
.medi_image {
    width: 70%;
    height: auto;
}

/* name container */
#med_name {
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    width: 40%;
    float: right;
}

/* name within this container */
#med_name h2 {
    margin: 16px 8px 0px 0px;
}

/* no idea where this belongs to */
.block-title {
    text-align: center;
}

/* -------------------------------- Set intake ---------------------------- */
/* Whole container: later includes all intakes */
#set-reminder {
    height: 70%;
    padding: 0px 16px;
    box-sizing: border-box;
    position: relative;
}

/* Time and Amount content*/
.tabs {
    height: 40%; /* so it is under FAB, may be replaced with new design */
    overflow: scroll;
}

div#tab-1 {
    margin: 0;
    padding-top: 10px;
}

/* to have no bullet points in list */
#tab-1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* One intake: includes time and amount container (see below) */
.flex-grid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 33%;
    width: 100%;
}

/* col1 = time container, col2 = amount container */
.col1, .col2 {
    width: 45%;
    height: 100%;
    color: black;
}

/* ******************* Time ******************* */
/* color of title */
.item-title.item-label {
    color: black;
}

/* popover to set time */
.popover.picker-popover.modal-in.popover-on-bottom {
    width: calc(100% - 16px);
}

/* to have no weird colors when time is set */
.md .list ul:before, .md .list ul:after, .md .block-strong:after, .md .block-strong:before, .md .item-input-wrap:after, .md .item-input-wrap:before {
    background-color: rgba(0, 0, 0, 0);
}

/* we need this to have the time and amount in one line. Seems to be a framework setting that needs to be overwritten */
#zeroHeight {
    -webkit-font-smoothing: none;
    height: 0px;
    margin-bottom: 0 !important;
}

/* ***************** Amount ****************** */
/* container within the amount container */
#amount {
    width: 100%;
    margin: auto;
}

#minus, #plus {
    background: var(--secondary-color);
    color: var(--primary-color);
}

/* border of plus / minus input */
#border_stepper {
    border-color: var(--secondary-color);
    color: var(--primary-color);
}

/* color of number */
.md .stepper .stepper-input-wrap input, .md .stepper .stepper-value input {
    color: var(--primary-color);
}

.md .stepper-fill .stepper-button-minus:after, .md .stepper-fill .stepper-button-minus:before, .md .stepper-fill .stepper-button-plus:after, .md .stepper-fill .stepper-button-plus:before, .md .stepper-fill .stepper-button:after, .md .stepper-fill .stepper-button:before, .md .stepper-fill-md .stepper-button-minus:after, .md .stepper-fill-md .stepper-button-minus:before, .md .stepper-fill-md .stepper-button-plus:after, .md .stepper-fill-md .stepper-button-plus:before, .md .stepper-fill-md .stepper-button:after, .md .stepper-fill-md .stepper-button:before {
    background: var(--primary-color);
}

/* no idea what its doing - but we should let it :D */
.block.block-strong.no-padding.no-margin.margin-bottom {
    height: 200px;
}

/* ************* Add another intake ************** */
/* FAB */
.md .fab-buttons a, .md .fab > a {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.fab.fab-extended.fab-center-bottom {
    bottom: 70px;
}

/* --------------------- Finish process: button on bottom ------------------------- */
#add_button {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--primary-color);
}


/*---------------------- Notification Overlay --------------------------------------*/

#notification {
    position: absolute;
    top: 350px; /* Sit 300px under top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: auto; /* Notification height taken from Framework7 height*/
    max-height: 500px;
    background-color: white; /* White background with no opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer; Add a pointer on hover */
    box-shadow: 0 2px 4px rgba(0,0,0,.22), 0 1px 2px rgba(0,0,0,.24);
    border-radius: 4px 4px 0 0;
}

#noti-header {
    display:flex;
    align-items:center;    
    margin-left:16px;
    margin-top:16px;
    height:16px;
}

#noti-img {
    line-height:16px;

}

#noti-appName {
    color: #2196f3;
    font-size: 12px;
    margin: 0px 6px;
}

#noti-time::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    background: #757575;
}

#noti-time {
    color: #757575;
    font-size: 12px;

}

#noti-expand {
    font-size:16px; 
    color: #757575;
}

#noti-subtitle p {
    margin-left: 16px;
    margin-bottom:0px;
}

#noti-text p {
    margin-left: 16px;
    margin-top: 0px;
    color: dimgrey;
}

.card-footer {
    background: #fafafa;
    margin-left: 0px;
}

#noti-default-btn {
    display:none;
    justify-content:flex-start;
    /*set lightgrey as background color*/
}

.noti-btn {
    margin-right:10px;
}

#downText {
    display:none;
}



